extends ../shared/template
block content
  .container
      #banner.page-header
        .row
          .col-xs-12
            h2#header Trips
      .panel.panel-default
        .panel-body
          .row
            .col-xs-12
              h3 Road Trips:
          .row
            .col-xs-12
              table.table.table-condensed
                thead
                  tr
                    th Name
                    th Origin
                    th Destination
                    th Start Date
                    th End Date
                    th Stops
                    th Events
                    th Distance
                    th MPG
                    th Gas/Gal
                    th Gallons
                    th Starting Cash
                    th Trip Cost
                    th Delta
                    th Photos
                tbody
                  each trip in trips
                    tr.trip-row
                      td: a(href='/trips/#{trip._id}')= trip.name
                      td= trip.originName
                      td= trip.destinationName
                      td= moment(trip.startDate).format('MMM Do YY')
                      td= moment(trip.endDate).format('MMM Do YY')
                      td= trip.stops.length
                      td= trip.events.length
                      td #{trip.distance.toFixed(2)} mi
                      td= trip.mpg
                      td $#{trip.gasCost.toFixed(2)}
                      td= trip.gallons.toFixed(2)
                      td $#{trip.cash.toFixed(2)}
                      td $#{trip.tripCost.toFixed(2)}
                      td $#{trip.delta.toFixed(2)}
                      td= trip.photos.length
