extends ../shared/template
block content
  .panel.panel-default
    .panel-body
      .row
        .col-xs-12
          h2(data-trip-id='#{trip._id}')= trip.name
      .row
        .col-xs-12
          #trip-map(data-orig-name='#{trip.originLoc.name}', data-orig-lat='#{trip.originLoc.lat}', data-orig-lng='#{trip.originLoc.lng}', data-dest-name='#{trip.destinationLoc.name}', data-dest-lat='#{trip.destinationLoc.lat}', data-dest-lng='#{trip.destinationLoc.lng}')
      .row
        .col-xs-6
          h4 Stops:
          ul#stops
            each stop in trip.stops
              li(data-name='#{stop.loc.name}', data-lat='#{stop.loc.lat}', data-lng='#{stop.loc.lng}'): a(href='/trips/#{trip._id}/stops/#{stop._id}')= stop.loc.name
        .col-xs-6
          h4 Add Stops:
          form(role='form', method='post', action='/trips/#{trip._id}/stops')
            .form-group
              button.btn.btn-info.btn-xs(type='button') + Stops
            .form-group.stop-group
              input.form-control(name='stop1[name]', type='text', data-id='name', placeholder='Tucson, AZ')
              input(type='hidden', name='stop1[lat]', data-id='lat')
              input(type='hidden', name='stop1[lng]', data-id='lng')
              input(type='hidden', name='stop1[tripId]', data-id='tripId', value='#{trip._id}')
            button.btn.btn-primary(type='submit') Add Stops
      .row
        .col-xs-12
          h4 Directions:
          #directions

block scripts
  script(src='/js/vendor/async.js')
  script(src='/js/user/trip-show.js')
