extends ../shared/template
block content
    h2 #{stop.name} Events
    #map(data-lat=stop.lat, data-lng=stop.lng)
    .row
      .col-xs-6
        h5 Events
        ul
          each evnt in stop.events
            li= evnt
      .col-xs-6
        form(method='post' id='events' actions='/trips/#{tripID}/stops/#{stop._id}' enctype='multipart/form-data')
          .form-group
            label Add Photos
            input(type='file' name='photos' multiple=true)
          .form-group
            button(type='button').btn.btn-success.full#addEvent Add More Events
            label Add Event(s)
            .event
              input.form-control(type='text' name='events')
    .row
      .col-xs-6
        #photos
          each photo in stop.photos
            .eventPhoto(style='background-image: url(#{photo})')
      .col-xs-6
        button(type='submit' form='events').btn.btn-danger.full Submit

block scripts
  script(src='/js/user/events.js')
